.Card{
  border: 1px solid beige;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.152);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.Card .card-img{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin: 10px;
   
}
.Card .card-title{
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  color: aqua (0%, 0%, 20%);

}
.Card .para{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}